<div class="container-fluid component-sociallogin">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 button-recipe fb">
				<button class="btn">
					<i class="fa fa-facebook" aria-hidden="true"></i>
					Conecte-se com o Facebook
				</button>
			</div>
			<div class="col-xs-12 col-sm-6 button-recipe gg">
				<button class="btn">
					<i class="fa fa-google" aria-hidden="true"></i>
					Conecte-se com o Google
				</button>
			</div>
		</div>
	</div>
	</div>
</div>	